body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #031926;
  background-color: #f4e9cd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.registration-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 300px;
  background: #9dbebb;
  border-radius: 10px;
  overflow: hidden;
  margin: 50px;
  border: #031926 1px solid;
}

.registration-label {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #031926;
  margin-bottom: 10px;
}

.registration-input {
  height: 25px;
  display: block;
  font-size: 15px;
  color: #333;
  line-height: 1.2;
  padding: 0 10px;
  outline: none;
  border: #468189 1px solid;
  border-radius: 5px;
  background-color: #f0efeb;
}

.error {
  color: #c90c48;
  font-size: 13px;
  font-weight: 600;
  text-decoration: underline;
}

.registration-submit {
  padding: 5px 15px;
  margin: 15px;
  background-color: #4195a0;
  border: #2d5459 1px solid;
  color: rgb(0, 0, 0);
  border-radius: 7px;
}

.registration-reset {
  padding: 6px 21px;
  background-color: #77aca2;
  border: #567c75 1px solid;
  color: rgb(0, 0, 0);
  border-radius: 7px;
}

.registration-title {
  text-align: center;
}
